<mat-toolbar color="primary">
  <a routerLink="/" class="brand-logo">Covid-19 Tracker</a>
  <span class="example-spacer"></span>
  <!-- <mat-icon routerLink="/profile" *ngIf="isLoggedIn == 'true'" class="example-icon" aria-hidden="false" aria-label="Example heart icon">account_circle</mat-icon>
  <mat-icon (click)="logout()" *ngIf="isLoggedIn == 'true'" class="example-icon" aria-hidden="false" aria-label="Example delete icon">exit_to_app</mat-icon> -->
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
<!-- <router-outlet></router-outlet> -->